{{ define "main" }}
<article class="post-content">
    <header>
        <h1>{{ .Title }}</h1>
        {{ with (.Description | default .Params.summary) }}
        <p>{{ . }}</p>
        {{ end }}
        {{ if .Date }}
        <div class="post-date"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time></div>
        {{ end }}
    </header>
    {{ .Content }}
</article>
{{ if not (.Params.hide_social | default false) }}
{{ partial "social.html" . }}
{{ end }}
{{ end }}
